# Dependencies
/vendor/

# Environment & Secrets
.env
.env.local
.env.*.local
*.secret

# Build & Cache
/var/
/cache/
/coverage-report/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
